# IDE
.idea/*
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.eggs/
dist/
build/
.venv/
venv/
env/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
